@import './vendor/fonts/fonts.css';

/* * {
  outline: 1px solid red;
} */

body {
  background-image: url(./image/dark.jpg);
  /* background-image: url(./image/web.jpg); */
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  font-family: 'Merriweather', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
}

.light {
  width: 100%;
  height: 100%;
  background: none;
}

.switch {
  width: 150px;
  height: 150px;
  background-image: url(./image/switch.png);
  background-size: cover;
  border-radius: 50%;
}

.turn:hover {
  opacity: 100;
}

.turn {
  text-align: center;
  position: absolute;
  right: 50px;
  bottom: 70px;
  opacity: 0;
}

.turn_text {
  background-color: aliceblue;
  font-weight: 700;
  margin: 10px 0 0 0;
}

.level_button {
  width: 200px;
  height: 50px;
  border-radius: 20px;
}

.level_button__green {
  background-color: rgb(64, 252, 40);
}

.level_button__yellow {
  background-color: rgb(252, 238, 40);
}

.level {
  display: flex;
  justify-content: center;
}

.menu {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__title {
  font-family: 'WorkSans', Arial, sans-serif;
  font-size: 42px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  padding: 0;
  -webkit-text-stroke: 1.5px #000;
  width: 1122px;
}

.nav__btn {
  width: 120px;
  height: 60px;
  font-family: 'Merriweather', Arial, sans-serif;
  font-size: 18px;
  line-height: 1;
  background-color: rgb(250, 206, 7);
  border-radius: 20px;
  box-shadow: 3px 3px 20px black;
  border: none;
}

.nav__btn_check {
  background-color: rgb(250, 120, 7);
}

.nav__btns {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0;
}

.listen_title {
  font-family: 'Merriweather', Arial, sans-serif;
  font-size: 30px;
  line-height: 1;
  grid-area: listener;
  padding: 0;
  margin: 0 0 20px;
}

.listen_button-norm {
  background-image: url(./image/play.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  grid-area: normal;
  justify-self: center;
}

.listen_button-slowly {
  background-image: url(./image/turtle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  grid-area: slowly;
  align-self: center;
  justify-self: center;
}

.dwarf-container__answer {
  width: 448px;
}

.dwarf-container__img {
  width: 380px;
}

.listen {
  width: 300px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    'listener listener'
    'normal slowly';
  justify-items: center;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #000;
  padding: 10px;
}

.wrap-dwarf {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px 0;
}

.dwarf-container__message {
  padding: 0;
  margin: 0;
}

.dwarf-container__message {
  position: absolute;
  top: 74px;
  left: 90px;
}

.dwarf-container__answer {
  background-image: url(./image/answer.png);
  width: 470px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.dwarf-container {
  display: flex;
}

.items,
.placeholders {
  padding: 0 20px 0;
  height: 80px;
  background-color: blueviolet;
  display: flex;
  gap: 20px;
}

.items {
  margin-bottom: 60px;
}

.item,
.placeholder {
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
}

.item {
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.answer__letter {
  font-family: 'Merriweather', Arial, sans-serif;
  font-size: 48px;
  line-height: 1.3;
  width: 68px;
  height: 68px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  border: 3px solid #000;
  box-shadow: 3px 3px 20px black;
  position: absolute;
  left: 92px;
  top: 28%;
}

.answer___butterfly {
  width: 200px;
  margin-right: 30px;
}

.answer___spider {
  width: 110px;
}

.answer {
  /* display: flex;
  width: 400px;
  justify-content: space-between; */
  padding-left: 20px;
  position: relative;
}

.hidden {
  display: none;
}

.dragging {
  border: 2px solid rgb(235, 174, 95);
  opacity: 0.5;
}

.hovered {
  border: 1px solid #fc9207ed;
}

@keyframes butterfly {
  0% {
    transform: skewX(15deg);
  }

  20% {
    transform: skewX(-15deg);
  }

  30% {
    transform: skewY(-15deg);
  }

  50% {
    transform: rotateY(50deg);
  }

  to {
    backface-visibility: hidden;
  }
}

@keyframes spider {
  to {
    transform: rotateX(90deg) rotateY(180deg);
    width: 0;
  }
}

.transform-butterfly {
  animation-name: butterfly;
  animation-duration: 5s;
  transform: translate(50px, -400px);
}

.transform-spider {
  animation-name: spider;
  animation-duration: 5s;
}

[data-image='1'] {
  background-image: url(./image/easy/1.jpg);
}

[data-image='2'] {
  background-image: url(./image/easy/2.jpg);
}

[data-image='3'] {
  background-image: url(./image/easy/3.jpg);
}

[data-image='4'] {
  background-image: url(./image/easy/4.jpg);
}

[data-image='5'] {
  background-image: url(./image/easy/5.jpg);
}

[data-image='6'] {
  background-image: url(./image/easy/6.jpg);
}

[data-image='7'] {
  background-image: url(./image/easy/7.jpg);
}

[data-image='8'] {
  background-image: url(./image/easy/8.jpg);
}

.main {
  display: none;
}
